/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import "./common/noe.less";
@import "./common/layout.less";
@import "./common/animations.less";

/* You can override the default Infima variables here. */
:root {
  // General text font
  --ifm-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  // Global colors
  --ifm-color-primary: @noe-bg;
  --ifm-color-primary-dark: darken(@noe-primary, 4%);
  --ifm-color-primary-darker: darken(@noe-primary, 12%);
  --ifm-color-primary-darkest: darken(@noe-primary, 20%);
  --ifm-color-primary-light: lighten(@noe-primary, 4%);
  --ifm-color-primary-lighter: lighten(@noe-primary, 12%);
  --ifm-color-primary-lightest: lighten(@noe-primary, 20%);
  --ifm-color-secondary: #e1e1e1;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  // Components colors
  --ifm-link-color: var(--ifm-color-primary-dark);

  :where(.button--primary) {
    --ifm-button-background-color: var(--ifm-color-primary-dark);
    --ifm-button-border-color: var(--ifm-color-primary-dark);
  }

  --ifm-navbar-background-color: @noe-bg;
  --ifm-navbar-link-color: var(--ifm-color-white);
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-lightest);
  --ifm-footer-link-hover-color: var(--ifm-color-primary-lightest);

  // Border radius <3
  --ifm-global-radius: 10px;
  --ifm-card-border-radius: 10px;
  --ifm-button-border-radius: 10px;
}

// Footer
.footer--dark {
  padding-top: 4rem;
  --ifm-footer-background-color: @noe-bg;
}

// Darker color on button primary hover
.button:where(.button--primary):not(.button--outline):hover {
  --ifm-button-background-color: var(--ifm-color-primary-darkest);
  --ifm-button-border-color: var(--ifm-color-primary-darkest);
}

// on the homepage, the navbar behaves differently: it is transparent and all
main[data-route="/"],
main[data-route="/en/"] {
  & > .navbar {
    background-color: transparent !important;
    box-shadow: none;
    transition: background-color 0.3s;
    position: absolute;
    width: 100%;
    .navbar__link:hover {
      color: white;
      text-decoration: underline;
    }
    .navbar__brand {
      opacity: 0.8;
    }
  }
}

// Navbar
.navbar {
  //Mobile sidebar
  &-sidebar {
    // Keep all the sidebar blank...
    background: white;
    &__brand {
      // ...Except the header
      background: @noe-bg;
    }
  }

  // Mobile menu button: keep it white
  .navbar__toggle {
    color: white;
  }

  .navbar__title {
    font-family: "Josefin Sans", Arial, sans-serif;
    margin-top: 4px;
  }
}

// TYPOGRAPHY MANAGEMENT

// Tagline
.homepageTagline {
  font-weight: normal;
  white-space: pre-wrap;

  font-size: 2.8rem;
  @media screen and (max-width: 996px) {
    font-size: 2.5rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 2rem;
  }
}

// Headings
.text-h1 {
  font-weight: normal;
  font-size: 3.5rem;
  @media screen and (max-width: 996px) {
    font-size: calc(3.5rem * 0.8);
  }
}
.text-h2 {
  font-size: 2rem;
  @media screen and (max-width: 996px) {
    font-size: calc(2rem * 0.8);
  }
}
.text-h3 {
  font-size: 1.4rem;
}

.baseFont {
  font-weight: normal;
  font-family: var(--ifm-font-family-base);
}

// Display texts
.displayText {
  font-size: 1.4rem;

  @media screen and (max-width: 996px) {
    font-size: 1.3rem;
  }
}

// Text gradient
.text-gradient {
  background: var(--noe-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// ANTD CAROUSEL - dots personalization

.dots-carousel > .slick-dots {
  background: red !important;
  border: 1px solid red;
}

.ant-carousel .slick-dots li button {
  background-image: var(--noe-gradient) !important;
  border-radius: 50px;
  height: 10px;
}

.shadow {
  -webkit-box-shadow: 5px 5px 21px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 5px 21px 0px rgba(0, 0, 0, 0.57);
}
