<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <style type="text/css">
    * {
      -ms-text-size-adjust:100%;
      -webkit-text-size-adjust:none;
      -webkit-text-resize:100%;
      text-resize:100%;
    }
    a{
      outline:none;
      color:#3775e1;
      text-decoration:none;
    }
    a:hover{text-decoration:underline !important;}
    a[x-apple-data-detectors]{
      color:inherit !important;
      text-decoration:none !important;
    }
    .link a{
      color:#fff;
      text-decoration: underline;
    }
    .link a:hover{text-decoration:none !important;}
    .footer a{color: #fff;}
    table td{border-collapse:collapse !important; mso-line-height-rule:exactly;}
    p{margin:0 !important; padding-bottom: 6px}
    @media only screen and (max-width:500px) {
      /* default style */
      table[class="flexible"]{width:100% !important;}
      *[class="hide"]{
        display:none !important;
        width:0 !important;
        height:0 !important;
        padding:0 !important;
        font-size:0 !important;
        line-height:0 !important;
      }
      td[class="aligncenter"]{text-align:center !important;}
      th[class="flex"]{display:block !important; width:100% !important;}
      tr[class="table-holder"]{display:table !important; width:100% !important;}
      th[class="thead"]{display:table-header-group !important; width:100% !important;}
      th[class="tfoot"]{display:table-footer-group !important; width:100% !important;}
      /* custom style */
      td[class="wrapper"]{padding:5px !important;}
      td[class="header"]{padding:30px 10px !important;}
      td[class="header"] *{text-align:center !important;}
      td[class="title"]{
        padding:0 0 30px !important;
        font-size:30px !important;
        line-height:36px !important;
      }
      td[class="frame"]{padding:20px 10px !important;}
      td[class="holder"]{padding:20px 20px 30px !important;}
      td[class="holder"] *{text-align:center !important;}
      td[class="block"]{padding:0 10px 10px !important;}
      td[class="box"]{padding:0 20px 20px !important;}
      td[class="nav"]{line-height:30px !important;}
      td[class="p-30"]{padding:0 0 30px !important;}
      td[class="p-20"]{padding:0 0 20px !important;}
      td[class="p-10"]{padding:0 0 10px !important;}
      td[class="indent-null"]{padding:0 !important;}
      td[class="w-20"]{width:20px !important;}
      td[class="h-auto"]{height:auto !important;}
      td[class="footer"]{padding:25px 10px !important;}
    }
  </style>
</head>
<body style="margin:0; padding:0;" bgcolor="#ffffff">
<table bgcolor="#eeeeee" style="min-width:320px; padding-top:50px; padding-bottom:50px" width="100%" cellspacing="0" cellpadding="0">
  <!-- fix for gmail -->
  <tr>
    <td style="line-height:0;"><div style="display:none; white-space:nowrap; font:15px/1px courier;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</div></td>
  </tr>
  <!-- pre-header -->
  <tr>
    <td class="wrapper" style="padding:0 10px;">
      <table class="flexible" width="700" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
        <!-- fix for gmail -->
        <tr>
          <td class="hide">
            <table width="700" cellpadding="0" cellspacing="0" style="width:700px !important;">
              <tr>
                <td style="min-width:700px; font-size:0; line-height:0;">&nbsp;</td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- NOE BANNER -->
        <tr>
          <td style="padding-bottom:30px;"><div style="text-align: center; background: white; border-radius: 10px;"><img src="{{headerImageUrl}}" width="auto" height="150" border="0" style="height: 150px" alt="Logo NOE" /></div></td>
        </tr>

        <!-- MAIL BODY -->

        <tr>
          <td>
            <table width="100%" cellpadding="0" cellspacing="0">
              <tr>
                <td class="frame" bgcolor="#ffffff" style="padding:28px;border-radius: 10px;">
                  <table width="100%" cellpadding="0" cellspacing="0">
                    <tr>
                      <td style="font:14px/25px Arial, Helvetica, sans-serif; color:#000;">
                        <multiline><div>{{{emailBody}}}</div></multiline>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
</body>
</html>